<p>{{ 'itkg_delay_event.channel.lock_report.email.header'|trans }},</p>
<p>{{ 'itkg_delay_event.channel.lock_report.email.content'|trans }}</p>
<p>{{ channel }}</p>
<p>{{ 'itkg_delay_event.channel.lock_report.email.footer'|trans }}</p>
